@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@layer base {
    * {
        @apply border-border;
        scrollbar-width: thin;
        scrollbar-color: gray transparent;
    }

    body {
        @apply bg-background text-foreground;

        &::selection {
            background-color: var(--ring);
            color: var(--background);
        }
    }

    html {
        @apply font-sans antialiased md:subpixel-antialiased;
        text-rendering: optimizeLegibility;
    }

    .hover-ring,
    [data-ring="true"] {
        @apply border border-border transition;

        .group:hover & {
            @apply border-ring ring-3 ring-ring/50;
        }
    }

    .focus-ring,
    [data-ring="true"] {
        @apply border border-border transition;

        .group:focus-visible & {
            @apply border-ring ring-3 ring-ring/50 outline-none;
        }
    }
}

@theme inline {
    --radius: 0rem;
    --spacing: 0.25rem;
    --tracking-normal: 0.025em;
    --shadow-opacity: 0;

    --font-sans: "Funnel Display Variable", sans-serif, system-ui;
    --font-mono: "JetBrains Mono Variable", monospace;

    --font-heading: var(--font-sans);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --color-foreground: var(--foreground);
    --color-background: var(--background);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: #10120d;
    --foreground: #eeeef0;
    --card: #10120d;
    --card-foreground: #eeeef0;
    --popover: #10120d;
    --popover-foreground: #eeeef0;
    --primary: #a7c080;
    --primary-foreground: #10120d;
    --secondary: #222325;
    --secondary-foreground: #eeeef0;
    --muted: #19191b;
    --muted-foreground: #797b86;
    --accent: #222325;
    --accent-foreground: #eeeef0;
    --destructive: #e67e80;
    --destructive-foreground: #10120d;
    --border: #222325;
    --input: #222325;
    --ring: #5d6c44;
    --chart-1: #a7c080;
    --chart-2: #e67e80;
    --chart-3: #dbbc7f;
    --chart-4: #7fbbb3;
    --chart-5: #d699b6;
    --sidebar: #10120d;
    --sidebar-foreground: #eeeef0;
    --sidebar-primary: #a7c080;
    --sidebar-primary-foreground: #10120d;
    --sidebar-accent: #292a2e;
    --sidebar-accent-foreground: #eeeef0;
    --sidebar-border: #393a40;
    --sidebar-ring: #5d6c44;
}
