!.vscode/extensions.json
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
*.tsbuildinfo
*/generated/prisma
.DS_Store
.env
.env.*.local
.env.local
.idea
.pg*
.tanstack
.vscode/*
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
